#karaoke-button{
	color: black;
}



video.karaoke-video{
	position: fixed;
	opacity: 1.0 !important;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: 80%;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-size: cover;
	background-color: #000;
}

#sudoku-board-wrapper{
	width: 100%;
	border-radius: 25px;
}

#solution-label{
	color: #e44d26;
}

.clear{
	clear:both;
	padding: 2%;
}

#karaoke-songlist{
	float:left;
	width: 15%;
	margin-top:10%;
	margin-bottom: 10%;
	margin-left:1%;
	margin-right:1%;
}

#song-table{
	width: 100%;
	color: #e44d26;
}

#karaoke-songlist input{
	color: #e44d26;
}

aside{
	border-radius: 25px;
	margin-bottom: 5%;
}

aside input{
	color: #000;
}

aside label{
	color: #fff;
}

table.sudoku{
	width: 90vw;
	height:90vw;
	border: 2px solid;
	border-color: #e44d26;
	border-collapse:solid;
}

table.sudoku td{
	border: 2px solid;
	border-color: #e44d26;
	text-align: center;
	color: #e44d26;
}

table.sudoku td.sudoku-element{
	font-weight: bolder;
	color: #fff;
	background-color: #e44d26;
	border-color: #e44d26!important;
	font-size: 400%;
}

table.sudoku td.sudoku-element-blank input{
	border: none;
    background-color: transparent;
    font-size: 300%;
}

table.sudoku td.sudoku-element-solved {
	border: 2px solid;
    background-color: transparent;
    font-size: 300%;
}

input.sudoku{
	-moz-appearance:textfield;
	border: none;
	outline: none;
	width: 90%;
	text-align: center;
}

.sudoku-element:not(input){
	font-weight: bolder;
}

#control-panel{
	color: black;
}

#solution-textarea{
	width: 100%;
}

input.sudoku::-webkit-outer-spin-button,
input.sudoku::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

@media only screen and (min-width: 480px) {
    table.sudoku{
		width: 100%;
	}

	#solution-textarea{
		width: 100%;
	}

	aside{
		margin-top: 5%;
		width:90%;
	}

	.clear{
		clear:both;
	}
}


@media only screen and (min-width: 768px) {
	#sudoku-board-wrapper{
		width:55%;
		float: left;
	}

	table.sudoku{
		width: 55vw;
		height:55vw;
	}

	aside{
		width:25%;
	}

	.clear{
		clear:none;
		padding: 0;
	}
}

@media only screen and (min-width: 1140px) {
	#sudoku-board-wrapper{
		width:55%;
		float:left;
	}

	table.sudoku{
		width: 100%;
		height:35vw;
	}
}